* {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 12pt;
  font-family: 'Inter';
}

header {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #20668a;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 16pt;
}

.logo img {
  margin-right: .5rem;
  width: 56px;
}

.nav-navigation {
  padding: 1rem;
}

.nav-navigation a {
  padding: .5rem;
  margin: .3rem;
  font-size: large;
  text-decoration: none;
  color: white;
  background-color: rgb(46, 130, 255);
  border-radius: .3rem;
  transition: .2s;
}

.nav-navigation a:hover {
  background-color: rgb(102, 163, 255);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.308);
}

section {
  text-align: center;
}

h2 {
  padding: 4rem 0;
  font-size: 32pt;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.content {
  font-size: 14pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content p {
  margin: auto 5rem;
  font-size: 14pt;
}

.about img {
  width: calc(100% - 100px);
}

.service-area {
  background-color: #163f73;
  color: white;
  padding-bottom: 5rem;
}

.service-area h2 {
  padding-top: 3rem;
  margin: 3rem 0;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
  text-align: center;
}

.services a {
  margin: 2rem auto;
}

.services h3,
p {
  text-align: center;
  width: 90%;
}

.services h3 {
  font-weight: bold;
  font-size: 14pt;
}

.service-items {
  display: inline-grid;
  text-align: center;
  margin: auto;
}

.service-items p {
  margin: auto;
  margin: .3rem;
}

.contats {
  background-color: #20668a;
  padding-bottom: 3rem;
  color: white;
}

h3 {
  font-size: 32pt;
}

.contact-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.contact {
  display: flex;
  justify-content: center;

}

.contact a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: aqua;
  margin: 1rem;
}

.contact img {
  padding-right: .3rem;
}

.contact-social {
  display: -moz-grid;
  justify-content: center;
  align-items: center;
}

.contact-social img {
  width: 24px;
}

.address-area {
  display: -moz-grid;
  justify-content: start;
  align-items: center;
}

.address-area address {
  padding-top: 1rem;
}

.address-area a {
  color: rgb(80, 170, 255);
}

@media (max-width: 1120px) {
  .about {
    display: block;
    gap: 1rem;
  }

  .content {
    margin-bottom: 1.5rem;
    font-size: 12pt;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about img {
    width: calc(100% - 200px);
  }

  .services {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

@media (max-width: 450px) {

  .content {
    margin-bottom: 1.5rem;
    font-size: 12pt;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content p {
    margin: 2rem 0;
    font-size: 14pt;
  }

  .about img {
    width: calc(100% - 80px);
  }

  .service-area h2 {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  .services {
    display: inline-block;
  }

  .services h3 {
    padding-bottom: 1rem;
  }

  .services h3,
  p {
    text-align: center;
    width: auto;
    width: 25rem;
  }

  .contact-area {
    grid-template-columns: 1fr;
  }

}